<app-navbar-details [title]="title" [iconType]="'arrow_back'"
></app-navbar-details>

    <app-search
      [lists]="absences"
      [templist]="tmpAbsences"
      [table]="table"
      [seance]="seance"
      (reportClicked)="onReportClicked()"
      (filterList)="onAbsenceFiltred($event)"
    ></app-search>

<div class="row mt-3 text-multiline">
  <div class="col-sm">
    <ngx-datatable
      #myTable
      class='material'
      [columnMode]="'force'"
      [sortType]="'multi'"
      [headerHeight]="50"
      [footerHeight]="50"
      [scrollbarH]="true"
      [loadingIndicator]="loadingIndicator"
      [rowHeight]="'auto'"
      [rows]="absences"
      [limit]="20">

      <ngx-datatable-column prop="Etudiant.AspNetUsers.Nom" name="Nom" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.Etudiant.AspNetUsers.Nom}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="AspNetUsers.Prenom" name="Prenom" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.Etudiant.AspNetUsers.Prenom}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="Etudiant.Cne" name="CNE" [width]="80">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.Etudiant.Cne}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="Email" name="Email" [width]="80">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <a [href]="'mailto:'+row.Etudiant.AspNetUsers.Email">{{row.Etudiant.AspNetUsers.Email}}</a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="AspNetUsers.PhoneNumber" name="Tel" [width]="80">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.Etudiant.AspNetUsers.PhoneNumber}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
