<div class="row">
  <div class="col-md-6" *ngFor="let etudiant of etudiants">
    <mat-checkbox name="isChecked" (change)="testinghh($event)" [(ngModel)]="etudiant.isChecked">
      <div class="col-md-6 reduce-padding">
        {{etudiant.AspNetUsers?.Nom}} {{etudiant.AspNetUsers?.Prenom}}
      </div>
    </mat-checkbox>
  </div>
</div>
