<nav *ngIf="nav.isEtudiant" class="navbar navbar-expand-md navbar-light bg-white navbar-shadow fixed-top ">
  <div class="container">
    <a class="navbar-brand" href="#" routerLink="/absences">
      <img src="../../../assets/img/ensam.png" class="img-fluid" id="logo-width" alt="Icon Ensam">
    </a>
    <button (click)="onNavbarClicked()" class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="nav.isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item text-center">
          <a (click)="nav.isNavbarCollapsed = true" class="nav-link" href="#" routerLink="/etudiant/statistiques"
             routerLinkActive="active"><i
            class="material-icons">pie_chart</i>Statistiques</a>
        </li>
        <li class="nav-item text-center">
          <a (click)="nav.isNavbarCollapsed = true" class="nav-link" href="#" routerLink="/absences"
             routerLinkActive="active"><i
            class="material-icons">timeline</i>Absences</a>
        </li>
        <li class="nav-item text-center">
          <a (click)="nav.isNavbarCollapsed = true" class="nav-link" href="#" routerLink="/parametres"
             routerLinkActive="active"><i
            class="material-icons">person</i>{{etudiant?.AspNetUsers?.Prenom}} {{etudiant?.AspNetUsers?.Nom}}</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="#" (click)="onLogoutClicked()"><i class="material-icons">exit_to_app</i> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
