<app-search
      [lists]="etudiants"
      [templist]="tempEtudiant"
      [table]="table"
      (reportClicked)="onButtonClicked()"
      (filterList)="onEtudiantFiltred($event)"
    ></app-search>
<!--<div class="row mt-2">-->
<!--<div class="col">-->
<!--<button mat-raised-button color="primary" class="rounded-corner"><i class="material-icons">add</i>Ajouter Etudiant</button>-->
<!--</div>-->
<!--</div>-->
<div class="row mt-3 text-multiline">
  <div class="col-sm">
    <ngx-datatable
      #myTable
      (activate)="onActivate($event)"
      class='material expandable'
      [columnMode]="'force'"
      [sortType]="'multi'"
      [headerHeight]="50"
      [footerHeight]="50"
      [scrollbarH]="true"
      [loadingIndicator]="loadingIndicator"
      [rowHeight]="'auto'"
      [rows]="etudiants"
      [limit]="15">

      <ngx-datatable-row-detail (change)="onSizeChanged()" [rowHeight]="height" #myDetailRow
                                (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div class="form-row ">
            <div class="col-sm">
              <button class="btn btn-lg btn-primary btn-block" (click)="open()"><i
                class="material-icons">person</i>Afficher
                parent
              </button>
            </div>
            <div class="col-sm">
              <button class="btn btn-lg btn-primary btn-block" (click)="showEtudiantStatistics()"><i
                class="material-icons">pie_chart</i>Afficher Statistiques
              </button>
            </div>
            <div class="col-sm margin-in-sm">
              <button class="btn btn-lg btn-primary btn-block" (click)="showEtudiantAbsences()"><i
                class="material-icons">list</i>Afficher Absence
              </button>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm">
              <table class="table table-striped">
                <tr>
                  <th>Cycle</th>
                  <td>{{etudiantDetail.Cycle}}</td>
                </tr>
                <tr>
                  <th>Filliere</th>
                  <td>{{etudiantDetail.Filliere}}</td>
                </tr>
                <tr>
                  <th>Section</th>
                  <td>{{etudiantDetail.Section}}</td>
                </tr>
                <tr>
                  <th>Adresse</th>
                  <td style="width: 88%">{{row.Adresse}}</td>
                </tr>
              </table>
            </div>
            <div class="col-sm">
              <table class="table table-striped">

                <tr>
                  <th>Année</th>
                  <td>{{etudiantDetail.Annee}}</td>
                </tr>
                <tr>
                  <th>OptionFilliere</th>
                  <td>{{etudiantDetail.OptionFilliere}}</td>

                </tr>
                <tr>
                  <th>Email</th>
                  <td><a [href]="'mailto:'+row.AspNetUsers.Email">{{row.AspNetUsers.Email}}</a></td>
                </tr>

                <tr>
                  <th>Groupe</th>
                  <td style="width: 88%">{{etudiantDetail.Groupe}}</td>
                </tr>
              </table>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>

      <ngx-datatable-column
        [width]="50"
        [resizeable]="true"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="false">

        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a class="first-icons"
             href="javascript:"
             [class.datatable-icon-right]="!expanded"
             [class.datatable-icon-down]="expanded"
             title="Voir détail étudiant">
          </a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="AspNetUsers.Prenom" name="Prenom" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.AspNetUsers?.Prenom}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="AspNetUsers.Nom" name="Nom" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.AspNetUsers?.Nom}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="AspNetUsers.Cin" name="CIN" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.AspNetUsers?.Cin}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="CNE" name="CNE" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.Cne}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="AspNetUsers.PhoneNumber" name="Tél" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.AspNetUsers?.PhoneNumber}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="AbsenceCount" name="Nombre Absence" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.AbsenceCount}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
