<div class="row">
  <div class="col-sm-4 col-md-2">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
      <a class="nav-link" href="/" routerLinkActive="active" routerLink="{{nav.currentProfile}}">Profile</a>
      <a class="nav-link" href="/" routerLinkActive="active" [routerLink]="['/parametres' , 'password']">Mot de
        Passe</a>
    </div>
  </div>
  <div class="col-sm-8 col-md-10 mt-2">
    <router-outlet></router-outlet>
  </div>
</div>
