<div class="row  mb-2 align-items-center">
  <div class="col-sm-12 col-md-8">
    <p>Date selectionnée : <strong>{{fromDate?.day}}/{{fromDate?.month}}/{{fromDate?.year}}</strong> <i
      class="material-icons">arrow_forward</i> <strong>
      {{toDate?.day}}/{{toDate?.month}}/{{toDate?.year}}</strong></p>
  </div>
  <div class="col-sm-12 col-md-4">
    <button type="button" class="btn btn-outline-primary float-right"
            (click)="showSettings.isEnabled = !showSettings.isEnabled">
      <i class="material-icons">{{showSettings.isEnabled? showSettings.hideDateIcon:showSettings.showDateIcon}}</i>
      {{showSettings.isEnabled? showSettings.hideDate:showSettings.showDate}}
    </button>
  </div>
</div>
<form class="bg-grey" *ngIf="showSettings.isEnabled">
  <div class="row justify-content-md-center">
    <ngb-datepicker #dp ngModel name="test" (ngModelChange)="onDateChange($event)" [displayMonths]="2"
                    [dayTemplate]="t">
    </ngb-datepicker>

    <ng-template #t let-date="date" let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
    </ng-template>
  </div>
</form>

