.bg-grey {
  background: #F5F5F5;
  padding: 8px;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range, .custom-day:hover {
  background-color: #0275d8;
  color: white;
}

.faded {
  opacity: 0.5;
}

.chart-responsive {
  min-width: 85%;
  min-height: 200px;
}

.material-icons {
  vertical-align: bottom;
  margin-left: 0.4rem;
}

