<form (submit)="onSubmit()" method="post">
  <ngb-alert *ngIf="warningMessage" type="danger" (close)="warningMessage = null">{{warningMessage}}</ngb-alert>
  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{successMessage}}</ngb-alert>
  <div class="form-group">
    <input type="password" [(ngModel)]="changePassword.OldPassword" name="OldPassword" class="form-control"
           id="old-pass" placeholder="Ancien Mot de passe" required autofocus>
  </div>
  <div class="form-group">
    <input type="password" [(ngModel)]="changePassword.NewPassword" name="NewPassword" class="form-control"
           id="new-pass" placeholder="Nouveau mot de passe" required>
  </div>
  <div class="form-group">
    <input type="password" [(ngModel)]="changePassword.ConfirmPassword" name="ConfirmPassword" class="form-control"
           id="confirm-new-pass" placeholder="Confirmer mot de passe" required>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Modifier mot de passe</button>
  </div>
</form>
