<div class="container">
  <div class="row">
    <div class="col-sm">
      <table class="table table-striped">
        <tr>
          <th>Nom</th>
          <td>{{admin?.Nom}}</td>
        </tr>
        <tr>
          <th>Prenom</th>
          <td>{{admin?.Prenom}}</td>
        </tr>
        <tr>
          <th>Tel</th>
          <td>{{admin?.PhoneNumber}}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{admin?.Email}}</td>
        </tr>
        <tr>
          <th>CIN</th>
          <td>{{admin?.Cin}}</td>
        </tr>

      </table>
    </div>

  </div>
</div>

