.loginform {
  padding-top: 4.5rem;
}
.form-signin {
  max-width: 400px;
  padding: 2rem;
  margin: 0 auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
  background-color: #fff;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px;
  font-size: 16px;
}

input {
  border-radius: 25px;
  padding: 13px;
  margin-top: 20px;
  background-color: #fff;
}

button {
  border-radius: 25px;
}

