<div class="container loginform">
  <div class="row justify-content-md-center">
    <div class="col-sm-auto">
      <ngb-alert *ngIf="warningMessage" type="danger" (close)="warningMessage = null">{{warningMessage}}</ngb-alert>
    </div>
  </div>
  <form class="form-signin" (submit)="onSubmit()" method="post">
    <img class="img-fluid rounded mx-auto d-block" width="200px" src="../../../assets/img/ensam.png" alt="Ensam Icon"/>
    <div class="form-group mt-3">
      <input type="email" id="email" [(ngModel)]="loginData.email" name="email" class="form-control"
             placeholder="Entrer votre email" required autofocus>
    </div>
    <div class="form-group">
      <input type="password" id="password" [(ngModel)]="loginData.password" name="password" class="form-control"
             placeholder="Entrer votre mot de passe" required>
    </div>
    <button class="btn btn-lg btn-primary btn-block mt-2">Se connecter</button>
  </form>
</div>
