<div class="container">
  <div class="row">
    <div class="col-sm">
      <table class="table table-striped">
        <tr>
          <th>Nom</th>
          <td>{{etudiant?.AspNetUsers?.Nom}}</td>
        </tr>
        <tr>
          <th>Prenom</th>
          <td>{{etudiant?.AspNetUsers?.Prenom}}</td>
        </tr>
        <tr>
          <th>Tel</th>
          <td>{{etudiant?.AspNetUsers?.PhoneNumber}}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{etudiant?.AspNetUsers?.Email}}</td>
        </tr>
      </table>
    </div>
    <div class="col-sm">
      <table class="table table-striped">
        <tr>
          <th>CIN</th>
          <td>{{etudiant?.AspNetUsers?.Cin}}</td>
        </tr>
        <tr>
          <th>CNE</th>
          <td>{{etudiant?.Cne}}</td>
        </tr>
        <tr>
          <th>Année</th>
          <td>{{detailCycle?.Annee?.description}}</td>
        </tr>
        <tr>
          <th>Section</th>
          <td>{{detailCycle?.Section?.description}}</td>
        </tr>

      </table>
    </div>

  </div>
  <div class="row">
    <div class="col-sm">
      <table class="table table-striped">
        <tr>
          <th>Cycle</th>
          <td>{{detailCycle?.Cycle?.Description}}</td>
        </tr>
        <tr>
          <th>Filliere</th>
          <td>{{detailCycle?.OptionFilliere?.Filliere?.Description}}</td>
        </tr>
        <tr>
          <th>Option Filliere</th>
          <td>{{detailCycle?.OptionFilliere?.Option}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>

