<nav class="navbar navbar-expand-md navbar-light bg-white navbar-shadow fixed-top ">
  <div class="container">
    <button (click)="onNavbarClicked()" class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="nav.isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item text-center">
          <strong>
            <a (click)="onLocationBack()" class="nav-link" href="" routerLink=""><i
              class="material-icons ">{{iconType}}</i>{{title}}</a>
          </strong>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item text-center">
          <a (click)="onVerticalClicked()" class="nav-link" href="javascript:" [ngClass]="showStats.verti?'active':''">
            <i class="material-icons">insert_chart</i>Vertical</a>
        </li>
        <li class="nav-item text-center">
          <a (click)="onHorizontalClicked()" class="nav-link" href="javascript:" [ngClass]="showStats.hori?'active':''">
            <i class="material-icons ">format_align_left</i>Horizontal</a>
        </li>
        <li class="nav-item text-center">
          <a (click)="onDonutClicked()" class="nav-link" href="javascript:" [ngClass]="showStats.donut?'active':''">
            <i class="material-icons ">pie_chart_outlined</i>Circulaire</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
