<app-search
  [lists]="professeurs"
  [templist]="tmpProfs"
  [table]="table"
  (reportClicked)="onReportClicked()"
  (filterList)="onProfFiltred($event)"
></app-search>
<div class="row mt-3 text-multiline">
  <div class="col">
    <ngx-datatable
      #myTable
      (activate)="onRowActivated($event)"
      class='material expandable'
      [columnMode]="'force'"
      [sortType]="'multi'"
      [headerHeight]="50"
      [scrollbarH]="true"
      [footerHeight]="50"
      [loadingIndicator]="loadingIndicator"
      [rowHeight]="'auto'"
      [rows]="professeurs"
      [limit]="20">

      <ngx-datatable-column
        [width]="60"
        [resizeable]="true"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="false">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a class="first-icons" href="javascript:" title="Voir matiere de professeur">
            <i class="material-icons not-icon">class</i>
          </a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="AspNetUsers.Prenom" name="Prenom" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.AspNetUsers?.Prenom}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="AspNetUsers.Nom" name="Nom" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.AspNetUsers?.Nom}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="AspNetUsers.Cin" name="CIN" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.AspNetUsers?.Cin}}
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column prop="Departement.Description" name="Departement" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.Departement?.Description}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="AspNetUsers.Email" name="Email" [width]="200">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <a [href]="'mailto:'+row.AspNetUsers.Email">{{row.AspNetUsers?.Email}}</a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="vacataire" name="vacataire" [width]="80">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <mat-checkbox [checked]="row.Vacataire" onclick="false"></mat-checkbox>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
