<div class="container">
  <div class="row">
    <div class="col-sm">
      <table class="table table-striped">
        <tr>
          <th>Nom</th>
          <td>{{professeur?.AspNetUsers?.Nom}}</td>
        </tr>
        <tr>
          <th>Prenom</th>
          <td>{{professeur?.AspNetUsers?.Prenom}}</td>
        </tr>
        <tr>
          <th>Tel</th>
          <td>{{professeur?.AspNetUsers?.PhoneNumber}}</td>
        </tr>
        <tr>
          <th>CIN</th>
          <td>{{professeur?.AspNetUsers?.Cin}}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{professeur?.AspNetUsers?.Email}}</td>
        </tr>
        <tr>
          <th>Departement</th>
          <td>{{professeur?.Departement?.Description}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

