#logo-width {
  width: 6em;
  margin-top: 5px;
}

.navbar {
  padding: 0;
}

.nav-link {
  padding: 0.9rem 1rem;
}

.navbar-shadow {
  border: 1px solid #eee;
  box-shadow: 0 3px 2px -2px rgba(200, 200, 200, 0.2);
}

.nav-item:hover {
  background-color: #EEEEEE;
}

.active {
  background-color: #EEEEEE;
}

