<nav *ngIf="nav.isProf" class="navbar navbar-expand-lg navbar-light bg-white navbar-shadow fixed-top ">
  <div class="container">
    <a class="navbar-brand" href="#" routerLink="/noterabsence">
      <img src="../../../assets/img/ensam.png" class="img-fluid" id="logo-width" alt="Icon Ensam">
    </a>
    <button (click)="onNavbarClicked()" class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="nav.isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item">
          <a (click)="nav.isNavbarCollapsed = true" class="nav-link text-center" href="#" routerLink="/liste/cours"
             routerLinkActive="active"><i
            class="material-icons ">list</i>Noter les absences</a>
        </li>
        <li class="nav-item text-center">
          <a (click)="nav.isNavbarCollapsed = true" class="nav-link" href="#" routerLink="/etudiants"
             routerLinkActive="active"><i
            class="material-icons ">school</i> Etudiants</a>
        </li>
        <li class="nav-item text-center">
          <a (click)="nav.isNavbarCollapsed = true" class="nav-link" href="#" routerLink="/seances"
             routerLinkActive="active"><i
            class="material-icons">timeline</i> Séances</a>
        </li>
        <li class="nav-item text-center">
          <a (click)="onSettingsClicked()" class="nav-link" href="#" routerLink="/parametres"
             routerLinkActive="active">
            <i class="material-icons">person</i>
            {{professeur?.AspNetUsers?.Prenom}} {{professeur?.AspNetUsers?.Nom}}
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="#" (click)="onLogoutClicked()"><i class="material-icons">exit_to_app</i> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
