<div class="row">
  <div class="col">
    <form>
      <div class="input-group">
        <input type="search" class="form-control rounded-corner" id="search" (keyup)="searchTable($event)"
               placeholder="Rechercher">
      </div>
    </form>
  </div>
  <button *ngIf="!hideReport" (click)="onButtonClicked()" class="rounded-corner" mat-raised-button><i
    class="material-icons">file_download</i>Rapport
  </button>
</div>
