<app-search
  [lists]="seances"
  [templist]="tmpSeances"
  [table]="table"
  (reportClicked)="onReportClicked()"
  (filterList)="onEtudiantFiltred($event)"
    ></app-search>

<div class="row mt-3 text-multiline">
  <div class="col-sm">
    <ngx-datatable
      #myTable
      (activate)="onActivate($event)"
      class='material expandable'
      [columnMode]="'force'"
      [sortType]="'multi'"
      [scrollbarH]="true"
      [headerHeight]="50"
      [footerHeight]="50"
      [loadingIndicator]="loadingIndicator"
      [rowHeight]="'auto'"
      [rows]="seances"
      [limit]="20">

      <ngx-datatable-column
        [width]="60"
        [resizeable]="true"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="false">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a href="javascript:" title="Voir absences" class="first-icons">
            <i class="material-icons not-icon">list</i>
          </a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="SeanceType.description" name="Type" [width]="70">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.SeanceType.description}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="DetailModule.Professeur.AspNetUsers.Nom" name="Nom" [width]="70">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.DetailModule?.Professeur?.AspNetUsers?.Nom}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="DetailModule.Professeur.AspNetUsers.Prenom" name="Prenom" [width]="70">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.DetailModule?.Professeur?.AspNetUsers?.Prenom}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="DetailModule.Module.description" name="Module" [width]="120">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.DetailModule?.Module?.description}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="DetailModule.Cours.Description" name="Cours" [width]="80">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.DetailModule?.Cours?.Description}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="Date" name="Date" [width]="70">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.Date}}
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
</div>
