<app-filter-stats-etudiant
  [etudiantID]="etudiantID"
  (outStats)="onStatsObtained($event)">
</app-filter-stats-etudiant>
<div class="row justify-content-md-center chart-responsive mt-3 min-height">
  <ngx-charts-bar-vertical
    [scheme]="colorScheme"
    [results]="stats"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Jour de semaine'"
    [yAxisLabel]="'Nombre absence'">
  </ngx-charts-bar-vertical>
</div>
<!--<div class="row justify-content-md-center chart-responsive mt-3"-->
<!--[ngClass]="stats.length<15? 'min-height':'max-height'"-->
<!--&gt;-->

<!--<ngx-charts-bar-horizontal-->
<!--[scheme]="colorScheme"-->
<!--[results]="stats"-->
<!--[xAxis]="true"-->
<!--[yAxis]="true"-->
<!--[legend]="false"-->
<!--[showXAxisLabel]="true"-->
<!--[showYAxisLabel]="true"-->
<!--[xAxisLabel]="'Jour de semaine'"-->
<!--[yAxisLabel]="'Nombre absence'">-->
<!--</ngx-charts-bar-horizontal>-->
<!--</div>-->
<!--<div class="row justify-content-md-center chart-responsive mt-3"-->
<!--[ngClass]="stats.length<15? 'min-height':'max-height'"-->
<!--&gt;-->
<!--<ngx-charts-pie-chart-->
<!--[scheme]="colorScheme"-->
<!--[results]="stats"-->
<!--[legend]="true"-->
<!--[explodeSlices]="false"-->
<!--[labels]="true"-->
<!--[doughnut]="true">-->
<!--</ngx-charts-pie-chart>-->
<!--</div>-->
<!--<div class="row justify-content-md-center chart-responsive"-->
<!--[ngClass]="stats.length<15? 'min-height':'max-height'">-->
<!--<ngx-charts-pie-grid-->
<!--[scheme]="colorScheme"-->
<!--[results]="stats">-->
<!--</ngx-charts-pie-grid>-->
<!--</div>-->
