<app-navbar-details
  [title]="title"
  [iconType]="'arrow_back'"
></app-navbar-details>
    <app-search
      [lists]="modules"
      [templist]="tmpDetailModuel"
      [table]="table"
      [hideReport]="true"
      (filterList)="onAbsenceFiltred($event)"
    ></app-search>
<div class="row mt-3 text-multiline">
  <div class="col-sm">
    <ngx-datatable
      #myTable
      class='material'
      [columnMode]="'force'"
      [sortType]="'multi'"
      [headerHeight]="50"
      [footerHeight]="50"
      [scrollbarH]="true"
      [loadingIndicator]="loadingIndicator"
      [rowHeight]="'auto'"
      [rows]="modules"
      [columns]="columns"
      [limit]="20">
    </ngx-datatable>
  </div>
</div>
