<div class="modal-header">
  <h4 class="modal-title">Nombre de séance</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Veuillez entrer le nombre de séance (entre 1 et 4) :
  <select [(ngModel)]="selectedNombreSeance" class="custom-select">
    <option *ngFor="let ns of nombreSeances" [ngValue]="ns.nbrSeance">{{ns.text}}</option>
  </select>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="onCloseClicked()">Annuler</button>
  <button type="button" class="btn btn-outline-dark" (click)="onSaveClicked()">Enregistrer la seance</button>
</div>
