@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

i {
  vertical-align: bottom;
  margin-right: 0.4rem;
}

.ngx-datatable.material {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.ngx-datatable .datatable-header .datatable-header-cell .resize-handle {
  visibility: visible !important;
}

.datatable-body-cell {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

@media (max-width: 575px) {
  body {
    padding-top: 4.5rem;
  }

  .margin-in-sm {
    margin-top: 5px;
  }

}

@media (min-width: 576px) and (max-width: 767px) {
  body {
    padding-top: 4.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    padding-top: 4.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  body {
    padding-top: 4.5rem;
  }

}

@media (min-width: 1200px) {
  body {
    padding-top: 4.5rem;
  }

}

.ngx-datatable .datatable-body-cell, .ngx-datatable .datatable-header-cell {
  text-align: center !important;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-left: .6rem;
  padding-right: .6rem;
}

.datatable-scroll {
  width: 100% !important;
}

.datatable-row-detail {
  overflow-x: hidden;
  overflow-y: hidden !important;
}

.ngx-datatable {
  cursor: pointer;
}

.not-icon {
  vertical-align: text-bottom;
}

.login-background {
  padding-top: 7rem;
  padding-bottom: 40px;
  background-color: #F5F5F5;
}

.datatable-header {
  background-color: rgba(224, 224, 224, 0.3);
}

.first-icons, a {
  color: #2196F3;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.nav-pills .nav-link.active, .show > .nav-pills .nav-link {
  color: #ffffff;
  background-color: #2196F3;
  border-color: #1976D2;
}

.text-multiline {
  word-wrap: break-word;
}


