<nav class="navbar navbar-expand navbar-light bg-white navbar-shadow fixed-top ">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item">
          <a class="nav-link text-center" href="" routerLink="" (click)="onLocationBack()">
            <i class="material-icons ">{{iconType}}</i>
            <strong>{{title}}</strong>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

