<app-navbar-details [title]="title" [iconType]="'close'"
></app-navbar-details>
<p>
  <ngb-alert [dismissible]="false" [type]="type" class="text-center">
    <strong>{{message}}</strong>
  </ngb-alert>
</p>
<form (submit)="onSubmit()" method="post">

  <div class="row spacing">
    <div class="col-md-8">
      <h4>Liste des Etudiants : ({{etudiants?.length-checkedEtudiants?.length}})</h4>
      <div class="row">
        <div class="col-md-6" *ngFor="let etudiant of etudiants">
          <mat-checkbox name="isToggled" (change)="onEtudiantListChanged($event)" [(ngModel)]="etudiant.isToggled">
            <div class="col-md-6 reduce-padding">
              {{etudiant.AspNetUsers?.Nom}} {{etudiant.AspNetUsers?.Prenom}}
            </div>
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h4>Liste des absences : ({{checkedEtudiants?.length}})</h4>
      <div class="row" *ngFor="let etud of checkedEtudiants">
        <div class="col-sm-12">
          <p class="absence-names">{{etud.AspNetUsers?.Nom}} {{etud.AspNetUsers?.Prenom}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button class="btn btn-primary"><i class="material-icons">check</i>Valider les absences</button>
    </div>
  </div>
</form>

