
.spacing {
  line-height: 3px;
}

h4 {
  margin-bottom: 10px;
}

.absence-names {
  margin-bottom: 1.5rem;
  margin-top: 0.4rem;
}

.reduce-padding {
  padding-left: 0 !important;
}

.button-style {
  border-radius: 20px;
  padding: 5px;
}
