<div class="modal-header">
  <h4 class="modal-title">{{nomEtudiant}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span><i class="material-icons">close</i></span>
  </button>
</div>

<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <table class="table table-striped table-responsive">
          <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Cin</th>
            <th scope="col">Email</th>
            <th scope="col">Tél</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let parent of parents">
            <td>{{parent.Nom}}</td>
            <td>{{parent.Prenom}}</td>
            <td>{{parent.Cin}}</td>
            <td>{{parent.Email}}</td>
            <td>{{parent.PhoneNumber}}</td>
          </tr>
          </tbody>
          <!--<tr>-->
          <!--<th>Adresse</th>-->
          <!--<td>{{parent.Adresse}}</td>-->
          <!--</tr>-->
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
