<app-search
  [lists]="detailModule"
  [templist]="tmpDetailModule"
  [table]="table"
  [hideReport]="true"
  (filterList)="onCoursFiltred($event)"
    ></app-search>
<!--<form>-->
<!--<div class="form-row mt-2">-->
<!--<div class="col">-->
<!--<div class="form-check">-->
<!--<label class="form-check-label">-->
<!--<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>-->
<!--2 Heures-->
<!--</label>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col">-->
<!--<div class="form-check">-->
<!--<label class="form-check-label">-->
<!--<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">-->
<!--4 Heures-->
<!--</label>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<div class="row  mt-3 text-multiline">
  <div class="col-sm">
    <ngx-datatable
      #myTable
      (activate)="onActivate($event)"
      class='material expandable'
      [columnMode]="'force'"
      [sortType]="'multi'"
      [scrollbarH]="true"
      [headerHeight]="50"
      [footerHeight]="50"
      [loadingIndicator]="loadingIndicator"
      [rowHeight]="'auto'"
      [rows]="detailModule"
      [columns]="columns"
      [limit]="20">
    </ngx-datatable>
  </div>
</div>
